/* boards/nucleo_f401re.overlay */
/ {
	aliases {
		rpilink = &usart1;
		blinker-fl = &blinker_fl;
        blinker-fr = &blinker_fr;
        blinker-rl = &blinker_rl;
        blinker-rr = &blinker_rr;
	};

    zephyr,user {
        io-channels = <&adc1 8>, <&adc1 10>, <&adc1 11>;
    };

	blinkers {
        compatible = "gpio-leds";

        blinker_fl: blinker_fl {
            gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;    /* D3 */
        };
        blinker_fr: blinker_fr {
            gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;    /* D4 */
        };
        blinker_rl: blinker_rl {
            gpios = <&gpiob 10 GPIO_ACTIVE_HIGH>;   /* D6 */
        };
        blinker_rr: blinker_rr {
            gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;    /* D7 */
        };
    };
};

&adc1 {
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";

    channel@8 {
        reg = <8>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <8>; /* IN8, PB0 / A3 */
        zephyr,resolution = <12>;
    };
    channel@a {
        reg = <10>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <10>; /* IN10, PC0 / A5 */
        zephyr,resolution = <12>;
    };
    channel@b {
        reg = <11>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <11>; /* IN11, PC1 / A4 */
        zephyr,resolution = <12>;
    };
};

&usart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
};